A{
text-decoration: none;
}

H1 {
font-family: arial, helvetica, sans-serif;
font-size: 24px;
color: #000000;
font-weight:normal;
}

H2 {
font-family: arial, helvetica, sans-serif;
font-size: 18px;
color: #000000;
font-weight:normal;
}

.heading {
font-family: arial, helvetica, sans-serif;
font-size: 24px;
color: #666666;
font-weight:normal;
}

.mainTitle {
font-family:   arial, helvetica, sans-serif;
font-size: 24px;
color: #000000;
font-weight:normal;
}


.gray12 {
font-family:   arial, helvetica, sans-serif;
font-size: 12px;
color: #666666;
font-weight:none;
text-decoration: none;
}

.presHeader {
font-family:   arial, helvetica, sans-serif;
font-size: 18px;
color: #666666;
font-weight:normal;
}

.white10 {
font-family:   arial, helvetica, sans-serif;
font-size: 9px;
color: #FFFFFF;
font-weight:normal;
}

A.white10 {
font-family:   arial, helvetica, sans-serif;
font-size: 9px;
color: #FFFFFF;
text-decoration: none;
font-weight:normal;
}

A.white10:hover {
font-family:   arial, helvetica, sans-serif;
font-size: 9px;
color: #cccccc;
text-decoration: none;
font-weight:normal;
}

.lightGray12 {
font-family:   arial, helvetica, sans-serif;
font-size: 16px;
color: #999999;
font-weight:normal;
}

.lightGray12, A.lightGray12 {
font-family:   arial, helvetica, sans-serif;
font-size: 14px;
color: #999999;
font-weight:normal;
text-decoration: none;
}

.gray12bold,A.gray12bold {
font-family:   arial, helvetica, sans-serif;
font-size: 14px;
color: #666666;
font-weight:bold;
text-decoration: none;
}




.gray12boldDisc {
font-family:   arial, helvetica, sans-serif;
font-size: 12px;
color: #666666;
font-weight:bold;
text-decoration: none;
}

A.gray12bold:hover {
font-family:   arial, helvetica, sans-serif;
font-size: 16px;
color: #cccccc;
font-weight:bold;
text-decoration: underline;
}

.blue12bold {
font-family:   arial, helvetica, sans-serif;
font-size: 12px;
color: #0099C6;
font-weight:bold;
}
.blue18bold {
font-family:   arial, helvetica, sans-serif;
font-size: 18px;
color: #0099C6;
font-weight:bold;
}

.black12 {
font-family:   arial, helvetica, sans-serif;
font-size: 12px;
color: #000000;
font-weight:normal;
}

.black10bold {
font-family:   arial, helvetica, sans-serif;
font-size: 10px;
color: #000000;
font-weight:bold;
}

.black10 {
font-family:   arial, helvetica, sans-serif;
font-size: 10px;
color: #000000;
font-weight:normal;
}

.MaraBlueTitle, A.MaraBlueTitle {
font-family:   arial, helvetica, sans-serif;
font-size: 14px;
color: #004b97;
font-weight:bold;
text-decoration: none;
}

A.MaraBlueTitle:hover {
font-family:   arial, helvetica, sans-serif;
font-size: 14px;
color: #cccccc;
font-weight:bold;
text-decoration: underline;
}

.grayBold16, A.grayBold16 {
font-family:   arial, helvetica, sans-serif;
font-size: 18px;
color: #666666;
font-weight:bold;
text-decoration: none;
}

A.grayBold16:hover {
font-family:   arial, helvetica, sans-serif;
font-size: 18px;
color: #004b97;
font-weight:bold;
text-decoration: underline;
}

.MaraBluebold12, A.MaraBluebold12 {
font-family:   arial, helvetica, sans-serif;
font-size: 12px;
color: #004b97;
font-weight:bold;
text-decoration: none;
}

A.MaraBluebold12:hover {
font-family:   arial, helvetica, sans-serif;
font-size: 12px;
color: #cccccc;
font-weight:bold;
text-decoration: underline;
}
div.clickable{
	
	cursor: pointer;
	
}

div.clickable:hover{
	
	text-emphasis-color: #004b97;
	text-decoration: underline;
}
.clickable:hover{
	color: #004b97;
	text-decoration: underline;
	
	
	
}

