@charset "UTF-8";
.container {
	background-color: #FFFFFF;
	width: 90%;
	max-width: 1574px;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
.row {
	width: 100%;
	/*max-height: 60%;*/
	min-width: 1085px; 
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	display: inline-block;
	
		
}
.row.blockDisplay {
	display: block;
}
.column_half {
	width: 50%;
	float: left;
	margin-top: 0px;
}
.rows {
    width: 100%;
    font-family: "Century Gothic", Calibri, Arial;
    color: #A5A5A5;
    line-height: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 1em;
}
.row .rows p {
	padding-left: 10%;
	padding-right: 10%;
}
.container .rows h4 {
    text-align: left;
    color: #000000;
    font-family: "Century Gothic", Calibri, Arial;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
}
header {
	min-width: 1085px;
}

.primary_header {
    width: 100%;
    background-color: #FFFFFF;
    padding-top: 0px;
    padding-bottom: 0px;
    clear: left;
    border-bottom: 2px solid #2C9AB7;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    float: left;
    height: 149px;
}
.secondary_header {
	width: 100%;
	min-width: 1085px; 
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #B3B3B3;
	clear: left;
}
.container .secondary_header ul {
	margin-top: 0%;
	min-width: 1085px; 
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
	width: 100%;
}
.secondary_header ul li {
    list-style: none;
    float: left;
    margin-right: auto;
    margin-top: 0px;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
    font-weight: normal;
    color: #000000;
    letter-spacing: 1px;
    margin-left: auto;
    text-align: left;
    width: 25%;
    transition: all 0.3s linear;
}
/*.secondary_header ul li:hover {
	color: #717070;
	cursor: pointer;
}*/
#menu ul .title-company {
    width: 25%;
}
#menu ul .title-ticker {
    width: 15%;
}
#menu ul .title-date {
    width: 20%;
}
#menu ul .title-attendees {
    width: 40%;
}

.left_article {
	background-color: #FFFFFF;
	width: 60%;
	float: left;
	font-family: "Source Sans Pro";
	color: #343434;
	padding-bottom: 15px;
}
.noDisplay {
	display: none;
}
.container .left_article h3 {
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	color: #717070;
	font-weight: bold;
	text-transform: uppercase;
}
.container .left_article p {
	padding-left: 5%;
	padding-right: 5%;
	text-align: justify;
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 15px;
	color: #B3B3B3;
}
.right_article {
	width: 40%;
	float: left;
	background-color: #F6F6F6;
}
.container .right_article ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.right_article ul li {
	font-family: "Source Sans Pro";
	list-style: none;
	text-align: center;
	background-color: #B3B3B3;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
	font-weight: bold;
	border-radius: 0px;
	transition: all 0.3s linear;
	border-left: 5px solid #717070;
}
.right_article ul li:hover {
	background-color: #717070;
	cursor: pointer;
}
.footer {
	background-color: #717070;
}
.title {
	font-weight: bold;
	font-style: normal;
	font-family: "Source Sans Pro";
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 2px;
	display: none;
}
.placeholder {
	/* [disabled]max-width: 400px;
*/
	/* [disabled]max-height: 200px;
*/
	width: 100%;
	padding-top: 30px;
	/* [disabled]padding-left: 19px;
*/
	padding-bottom: 30px;
	height: 100%;
}
.left_half {
	background-color: #52BAD5;
}
.container .column_half.left_half h2 {
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	text-align: center;
}
.right_half {
	background-color: #01B2D1;
	color: #FFFFFF;
	font-family: "Source Sans Pro";
	text-align: center;
	font-weight: bold;
}
.column_title {
	padding-top: 25px;
	padding-bottom: 25px;
}
.copyright {
	text-align: center;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
	font-family: "Source Sans Pro";
}
body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

@media (max-width: 320px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	min-width: 1085px; 
	
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
}
.placeholder {
	width: 100%;
	margin-top: 22PX;
	margin-right: 0px;
	margin-bottom: 22PX;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	max-width: 400px;
	max-height: 200px;
	height: auto;
}
.rows {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0PX;
	padding-right: 0PX;
	padding-bottom: 0PX;
	padding-left: 0PX;
}
.rows p {
	padding-left: 10px;
	padding-right: 10px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
.copyright {
	padding-top: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.container .left_article h3 {
	margin-top: 30px;
}
.social .social_icon img {
	width: 80%;
}
.container .secondary_header {
}
}

/*@media (min-width: 321px) and (max-width: 768px) {
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
.container .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}
.left_article {
	width: 100%;
	height: auto;
}
.right_article {
	width: 100%;
	height: auto;
	padding-bottom: 25px;
}
.placeholder {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
.rows {
	width: 100%;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.rows p {
	padding-left: 14px;
	padding-right: 14px;
}
.column_half.left_half {
	width: 100%;
}
.column_half.right_half {
	width: 100%;
}
}*/

/*@media (min-width: 769px) and (max-width: 1000px) {
.secondary_header {
	overflow: auto;
	padding-top: 8px;
	padding-bottom: 8px;
}
.secondary_header ul li {
	margin-top: 0px;
	margin-right: 7%;
	margin-bottom: 0px;
	margin-left: 7%;
}
.left_article {
	height: auto;
}
.right_article {
	height: auto;
	padding-bottom: 27px;
}
.placeholder {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.rows {
    width: 100%;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.container .rows p {
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
}
}*/

.thumbnail {
	width: 100px;
	border-radius: 200px;
	height: 100px;
	margin-left: auto;
}
.thumbnail_align {
	text-align: center;
}
.social {
	text-align: center;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
}
.social_icon {
	width: 25%;
	text-align: center;
	float: left;
	transition: all 0.3s linear;
	line-height: 0px;
	padding-top: 7px;
}
.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}
#menu {
}
.inside-column-company {
    font-family: "Century Gothic", Calibri, Arial;
    font-size: 16px;
    color: #000000;
    height: auto;
    width: 25%;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    text-align: left;
	float: left;
}
.inside-column-ticker {
    font-family: "Century Gothic", Calibri, Arial;
    font-size: 16px;
    color: #000000;
    height: auto;
    width: 15%;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    text-align: left;
	float: left;
}
.inside-column-date {
    font-family: "Century Gothic", Calibri, Arial;
    font-size: 16px;
    color: #000000;
    height: auto;
    width: 20%;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
    text-align: left;
	float: left;
}
.inside-column-attendees {
    font-family: "Century Gothic", Calibri, Arial;
    font-size: 16px;
    color: #000000;
    height: auto;
    width: 39%;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    padding-left: 0px;
    text-align: left;
	float: left;
}
div.clickable{
	
	cursor: pointer;
	
}

div.clickable:hover{
	
	text-emphasis-color: #2169ae;
	text-decoration: underline;
}
.clickable:hover{
	color: #2169ae;
	text-decoration: underline;
	
	
	
}

@media (max-width: 400px) {
	
	header {
		min-width: 100%;
		padding-bottom: 15px;
	}
	
	.primary_header {
		background-image: url(../images/logo_mobile.png);
		background-size: cover;
		height: 217px;
	}
	
	.secondary_header {
		min-width: 100%;
		padding-top: 8px;
		padding-bottom: 8px;
		background-color: #B3B3B3;
		clear: left;
		height: 74px;
	}
	
	.container .secondary_header ul {
		margin-top: 0%;
		margin-right: auto;
		margin-bottom: 0px;
		margin-left: auto;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 15px;
		padding-left: 7px;
		min-width: 100%;
	}
	
	.secondary_header ul li {
		list-style: none;
		float: left;
		margin-right: auto;
		margin-top: 0px;
		font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
		font-weight: normal;
		color: #000000;
		letter-spacing: 1px;
		margin-left: auto;
		text-align: left;
		width: 25%;
		transition: all 0.3s linear;
	}
	
	#menu ul .title-company {
		width: 100%;
		font-size: 16px;
	}
	#menu ul .title-ticker {
		width: 100%;
		font-size: 14px;
	}
	#menu ul .title-date {
		width: 100%;
		font-size: 14px;
	}
	#menu ul .title-attendees {
		width: 100%;
		font-size: 14px;
	}
	
	.row {
		min-width: 100%;
	}
	
	.rows {
		
	}
	
	.container .rows h4 {
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 5px;
	}
	.inside-column-company {
		font-family: "Century Gothic", Calibri, Arial;
		font-size: 16px;
		color: #000000;
		height: auto;
		width: 100%;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 2px;
		padding-left: 0px;
		text-align: left;
		float: left;
	}
	.inside-column-ticker {
		font-family: "Century Gothic", Calibri, Arial;
		font-size: 14px;
		color: #000000;
		height: auto;
		width: 100%;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 2px;
		padding-left: 0px;
		text-align: left;
		float: left;
	}
	.inside-column-date {
		font-family: "Century Gothic", Calibri, Arial;
		font-size: 14px;
		color: #000000;
		height: auto;
		width: 100%;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 2px;
		padding-left: 0px;
		text-align: left;
		float: left;
	}
	.inside-column-attendees {
		font-family: "Century Gothic", Calibri, Arial;
		font-size: 14px;
		color: #000000;
		height: auto;
		width: 100%;
		padding-top: 0px;
		padding-right: 0px;
		padding-bottom: 15px;
		padding-left: 0px;
		text-align: left;
		float: left;
	}
	
	
}